* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: azure;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
}

.cuerpo {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

input {
  background-color: white;
  margin-bottom: 5px;
}

#button {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  color: white;
  background-color: darkcyan;
  border: none;
  border-radius: 8px;
}

#button:hover {
  background-color: rgb(10, 3, 3);
  color: white;
}


label.file-label {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 15px;
  background-color: darkcyan;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: small;
}


label {
  text-align: center;
}

label.file-label:hover {
  background-color: rgb(10, 3, 3);
  color: white;
}


.product-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-card {
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="text"],
input[type="number"],
input[type="button"] {
  width: 100%;
  /* Ancho completo del contenedor */
  padding: 10px;
  /* Espaciado interno */
  font-size: 16px;
  /* Tama침o de fuente */
  border: 1px solid #ccc;
  /* Borde */
  border-radius: 5px;
  /* Bordes redondeados */
  box-sizing: border-box;
  /* Incluye el padding y border en el ancho total */
  margin-bottom: 10px;
  /* Margen inferior para separaci칩n entre inputs */
}

button {
  padding: 10px 20px;
  /* Espaciado interno */
  font-size: 16px;
  /* Tama침o de fuente */
  border: none;
  /* Quita el borde */
  border-radius: 5px;
  /* Bordes redondeados */
  background-color: #007bff;
  /* Color de fondo */
  color: #fff;
  /* Color del texto */
  cursor: pointer;
  /* Cambia el cursor al pasar el rat칩n */
}



.Title {
  margin-top: 15px;
}

.chatTitle {
  margin-bottom: 30px;
}

.chatContainer {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 0px 0px 5px rgb(126, 126, 126);

  header {
    position: relative;

    .userName {
      margin-bottom: 15px;
    }

    .typing {
      width: 200px;
      position: absolute;
      top: 25px;
      left: 0;
    }
  }

  main {
    width: 100%;

    .chatMessage {
      width: 100%;
      height: 200px;
      border-radius: 20px;
      border: 2px solid black;
      box-shadow: 0px 0px 5px rgb(126, 126, 126);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;

      .connection {
        align-self: center;
      }

      .messageUser {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5px;
      }

      .otherUser {
        align-items: flex-end;
      }
    }
  }

  footer {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    input {
      all: unset;
      width: 240px;
      border-bottom: 2px solid black;
      padding: 0px 0px 5px 5px;
    }
  }
}