<div class = "formTitle"> Form por Websocket </div>
    <header>
        <h3> Agregar productos </h3>
    </header>
    <main>
        <form>
            <input type = "text" placeholder="Nombre del producto" />
            <input type = "text" placeholder="Descripción del producto" />
            <input type = "price" placeholder="Precio del producto" />
            <input type = "file" placeholder="Imagen del producto" />
            <input type = "code" placeholder="Código del producto" />
            <input type = "stock" placeholder="Stock del producto" />
            <input id="button" type="submit" value="Agregar producto" />
        </form>
    </main>

<script src="/js/index.js"></script>